.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionFixed.MuiAppBar-colorPrimary.mui-fixed {
  background-color: #ddd;
  color: #555;
}
.cart_footer {
  text-align: center;
  width: 100%;
  background-color: #ddd;
  color: #555;
  position: fixed;
  bottom: 0;
  height: 5rem;
  h6 {
    max-width: 540px;
    font-weight: 550;
    font-size: x-large;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
}
.MuiListItemText-root.MuiListItemText-multiline {
  max-width: fit-content;
}
.MuiList-root.MuiList-padding {
  overflow-y: auto;
  max-height: 77vh;
}
.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorRight {
  .MuiListItem-root.MuiListItem-gutters {
    display: grid;
    grid-template-columns: 2.3fr 1.7fr 2.5fr 1fr;
  }
}
.buttons_group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  input.MuiButtonGroup-root.MuiInputBase-input.MuiOutlinedInput-input {
    padding: 3.5px 14px;
    background: red;
  }
  input {
    padding: 3.5px 14px;
    max-width: fit-content;
  }
}
@media screen and (max-width: 56rem) {
  .MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorRight {
    width: 100%;
    max-width: 100vw;
    .MuiInputBase-input.MuiOutlinedInput-input {
      padding: 0;
      text-align-last: center;
    }
  }
}
