.container {
  text-align: center;
}
.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters {
  display: flex;
  justify-content: center;
}
.top_section {
  margin-top: 5rem;
  .MuiPagination-ul {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }
}
/**
Notification snackbar
*/
.MuiSnackbar-root.MuiSnackbar-anchorOriginTopCenter {
  top: 30%;
}
.MuiPaper-root.MuiSnackbarContent-root {
  background-color: white;
  padding: 3rem;
  display: flex;
  justify-content: center;
  .MuiSnackbarContent-action {
    padding-left: 0;
  }
}
