@mixin button($color, $border-radius: 5%) {
  border: 1px solid $color;
  background-color: transparent;
  color: $color;
  border-radius: $border-radius;
  width: 2rem;
  height: 2rem;
}
@mixin input {
  padding: 0.4rem;
  text-align-last: center;
  border: none;
  border: 1px solid #ddd;
}
@mixin closeIcon($fill: #555, $size: 2rem) {
  right: 1rem;
  fill: $fill;
  font-size: $size;
}
